
magic: policeman_ruleset
version: 0.1
id: "allow_redirects_system_principal"

l10n:
  en-US:
    name: "Allow redirects for requests issued by browser or addons"
    description: "Allow redirects for requests issued by browser or addons"
  zh-CN:
    name: "【自定义】允许浏览器或扩展的重定向请求"
    description: "允许浏览器或扩展的重定向请求"

rules:
  [specialPrincipal] system:
    [hints] redirect: ACCEPT
